<ion-header>
    <ion-toolbar>

        <!-- <ion-buttons (click)="back()" slot="start">
            <img src="assets/imgs/icons_back.png" alt="">
        </ion-buttons> -->

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
            <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
        </ion-buttons> -->

    </ion-toolbar>

</ion-header>

<ion-content>

    <div class="header-profile">
        <ion-icon (click)="popover($event)" src="assets/icon/account.svg"></ion-icon>
        <p>{{user.username}}</p>
        <div>
            <ion-icon style="color: darkcyan;" name="mail" (click)="openChatList()"> </ion-icon>
            <ion-badge style="position: absolute; right: 5px; top: 5px" color="danger" *ngIf="count">{{count}}
            </ion-badge>
        </div>
    </div>

    <p>{{user.mobile}}</p>
    <p>{{user.email}}</p>
    <p>{{user.car}}</p>


    <button *ngIf="user['role'] == 'USER' && user['country'] == 'Казахстан' && !user['active_promo']"
        class="form_button_center" (click)="usePromo()">Использовать промокод</button>
    <button *ngIf="user['role'] == 'USER'" class="form_button_center" (click)="addCar()">Мой автомобиль</button>
    <button *ngIf="user['role'] != 'USER'" class="form_button_center" (click)="openSale()">Продажи</button>
    <button *ngIf="user['role'] != 'USER'" class="form_button_center" (click)="openAssort()">Ассортимент</button>
    <button *ngIf="((user['role'] != 'USER' && user['country'] != 'Казахстан') || user['role'] == 'USER') && user['country'] != 'Беларусь'"
        class="form_button_center" (click)="openAction()">Акции и бонусы</button>
    <button *ngIf="user['role'] == 'USER'" class="form_button_center" (click)="presentActionSheet()">Мое масло</button>
    <button *ngIf="user['role'] == 'USER'" class="form_button_center" (click)="openShop()">Мой
        магазин/автосервис</button>

    <ion-item lines="none">
        <ion-label for="push">Разрешить уведомления</ion-label>
        <ion-checkbox name="push" id="push" slot="start" [(ngModel)]="user.notification" color="primary"
            (ionChange)="changePush($event)"></ion-checkbox>
    </ion-item>

    <div *ngIf="user.cars?.length && user.role == 'USER'">
        <div class="border" *ngFor="let car of user?.cars">

            <p>{{car.mark + ' ' +  car.model}}</p>

            <ion-item lines="none">
                <ion-label for="timer">Заменa масла произведена:</ion-label>
                <!-- <ion-checkbox name="timer" id="timer" slot="start" [(ngModel)]="car.schedule" color="primary">
                </ion-checkbox> -->
            </ion-item>

            <ion-icon name="save" style="right: 10px; top: 15px;" (click)="saveAuto(car)"></ion-icon>
            <ion-icon name="close" style="left: 10px; top: 15px;" (click)="rmAuto(car)"></ion-icon>

            <ion-item lines="none">
                <ion-label fixed style="flex: inherit; width: 16%;">Дата:</ion-label>
                <ion-datetime style="width: 81%" cancelText="Отмена" doneText="Принять" name="birthday"
                    displayFormat="DD.MM.YY" pickerFormat="DD MM YY" [(ngModel)]="car.last_change"></ion-datetime>
            </ion-item>

            <ion-item>
                <ion-label fixed style="flex: inherit;">Пробег:</ion-label>
                <ion-input type="number" [(ngModel)]="car.odometer"></ion-input>
            </ion-item>

            <ion-item lines="none">
                <div class="custom-range">
                    <ion-item>
                        <ion-label> Напомнить о замене масла</ion-label>
                        <ion-checkbox name="timer" id="timer" slot="start" [(ngModel)]="car.schedule" color="primary">
                        </ion-checkbox>
                    </ion-item>

                    <div class="row">
                        <div class="col">3 мес</div>
                        <div class="col">6 мес</div>
                        <div class="col">9 мес</div>
                        <div class="col">12 мес</div>
                    </div>
                    <ion-range color="primary" pin="false" min="3" max="12" step="3" snaps="true"
                        [(ngModel)]="car.reminder">
                    </ion-range>
                </div>
            </ion-item>
        </div>
    </div>
</ion-content>