@import "../../../theme/variables.scss";

ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;

  p {
    text-align: center;

    font: {
      size: 14px;
      weight: 400;
      family: $app-fonts;
    }
  }

  .header-profile {
    display: flex;
    justify-content: space-between;
    align-items: center;

    ion-icon {
      font-size: 35px;
      padding: 5px;

      border: {
        width: 1px;
        color: #231f20;
        style: solid;
        radius: 40px;
      }

      &:first-child {
        color: #231f20;
      }

      &:last-child {
        color: darkcyan;
      }
    }
  }

  button {
    margin: 10px;
    width: 90%;
    background: #231f20;

    font: {
      size: 12px;
      family: $app-fonts;
      weight: 400;
    }

    color: #ebebeb;
  }

  ion-item {
    --border-color: transparent !important;

    .item-inner {
      --border-color: transparent !important;
    }

    .custom-range {
      width: 100%;
      display: flex;
      flex-direction: column;

      .row {
        display: flex;
        justify-content: space-between;

        .col {
          font-size: 12px;
        }
      }
    }

    ion-label {
      font: {
        size: 12px;
        family: $app-fonts;
        weight: 400;
      }
    }

    ion-datetime,
    ion-input {
      padding: 5px;
      width: 100%;
      --placeholder-opacity: 1;

      border: {
        style: solid;
        width: 2px;
        color: #231f20;
        radius: 8px;
      }

      --padding-top: 10px;
      --padding-end: 10px;
      --padding-bottom: 10px;
      --padding-start: 10px !important;
      margin: 15px 0;
    }
  }
}

.border {
  position: relative;

  border: {
    width: 1px;
    color: #231f20;
    style: solid;
    radius: 10px;
  }

  p {
    text-align: center;

    font: {
      size: 1rem;
      weight: bold;
    }
  }

  ion-icon {
    position: absolute;
    font-size: 25px;
  }

  padding-bottom: 10px;
  margin-bottom: 10px;
}