<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event);">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item *ngFor="let item of list">
        <p (click)="openMap(item['partner_user']['partner']['id'])">{{item.partner_user.partner.title}}</p>
        <div>
            <ion-icon style="font-size: 25px;" (click)="call(item.partner_user.partner.additional_phone)"
                color="success" name="call">
            </ion-icon>
            <ion-icon style="font-size: 30px;" (click)="openChat(item.partner_user_id)" color="primary" name="mail">
            </ion-icon>
            <ion-icon style="font-size: 35px;" (click)="rmFavorite(item.partner_user_id)" color="danger" name="close">
            </ion-icon>
        </div>
    </ion-item>
    <p *ngIf="!list.length" style="text-align: center">
        Список избранных пустой
    </p>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event);">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>