@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;

      ion-icon {
        font-size: 45px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {

  ion-item {
    p {
      font-family: $app-fonts;
    }

    // ion-item-option {
    --background: transparent !important;

    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      margin-left: auto;
      ion-icon {
        margin: 10px;
      }
    }

    
  }

}