<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <h2 *ngIf="role" (click)="encodedId()">ID {{user.id}}</h2>
    <div>
        <p>!</p>
        <p>{{role ? 'Для начисления балов при покупке нажмите на ID и дайте отсканировать код продавцу' : 'Для начисления балов при продаже отсканируйте код покупателя'}}
        </p>
    </div>

    <div class="points">
        <p>Накоплено баллов: {{user.balance ? user.balance : '0'}}</p>
    </div>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event); refreshUser();">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- <ion-virtual-scroll [items]="list"> -->
    <ion-item lines="none" *ngFor="let item of list">
        <ion-thumbnail slot="start" (click)="openInfo(item['id'])">
            <img [src]="item.image" onError="this.src='assets/imgs/broken.png';">
        </ion-thumbnail>
        <div (click)="openInfo(item['id'])">
            <h2>{{item.title}}</h2>
            <!-- <p>{{item.description}}</p> -->
            <p>{{item.price}}</p>
        </div>
        <ion-icon *ngIf="favorite" name="heart-empty"></ion-icon>
    </ion-item>
    <!-- </ion-virtual-scroll> -->
    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event);">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>