@import "../../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  text-align: center;
  h2 {
    font: {
      size: 18px;
      family: $app-fonts;
      weight: bold;
    }
  }

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    p {
      margin: 10px 0;
      &:first-child {
        margin-right: 15px;
        font: {
          size: 55px;
        }
      }
      &:last-child {
        text-align: justify;
        font: {
          size: 16px;
          family: $app-fonts;
        }
      }
    }
  }

  .points {
    border-bottom: {
      style: solid;
      width: 1px;
      color: #231f20;
    }
  }

  // ion-virtual-scroll {
  ion-item {
    ion-thumbnail {
      width: 33%;
      height: auto;
      margin: 0;
    }
    div {
      text-align: left;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      h2 {
        margin: 0 5px;
        font: {
          family: $app-fonts;
          size: 16px;
          weight: 400;
        }
      }
      p {
        // padding: 0 0 0 20px;
        font: {
          family: $app-fonts;
          size: 14px;
          weight: bold;
        }
      }
    }
    ion-icon {
      width: 100%;
    }
  }
}
// }
