<ion-content id="login">
    <!-- <h1>logo</h1> -->
    <button class="button_back" (click)="back()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Назад
    </button>
    <div class="logo">
        <ion-icon style="font-size: 50px; width: 215px;color: #231f20;" src="assets/icon/logo.svg" alt=""></ion-icon>
    </div>
    <form [formGroup]="log" (ngSubmit)="logForm()">
        <ion-item>
            <ion-input type="email" formControlName="email" placeholder="Почта"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Пароль"></ion-input>
        </ion-item>
        <ion-item style="    width: 76%;
        margin: 0 auto;">
            <ion-label>Запомнить меня</ion-label>
            <ion-checkbox slot="start" formControlName="login" color="primary" (ionChange)="autologin($event)">
            </ion-checkbox>
        </ion-item>
        <div class="form_button">
            <button [disabled]="!log.valid" class="form_button_outline" type="submit">Войти</button>
            <button class="form_button_line" type="button" (click)="openRegister()">Регистрация</button>
        </div>
        <div class="form_button">
            <button class="form_button_outline facebook" type="button" (click)="loginFacebook()">Войти с Facebook</button>
            <button class="form_button_line google" type="button" (click)="loginGoogle()">Войти с Google</button>
        </div>
        <div class="form_footer">
            <!-- <p>Забыли пароль?
                <span (click)="openRegister()">Регистрация</span>
            </p> -->
            <p>
                <span (click)="forgot()">Востановить пароль</span>
            </p>
        </div>
    </form>
</ion-content>