@import "../../../theme/variables";

// .button_back{
//   margin: 5% 0 5% 12%;
// }

.logo {
  width: 70%;
  margin: 17% auto 15%;
  text-align: center;
  img {
    width: 100%;
  }
}

.form_button {
  margin-top: 30px;
}

.button_back {
  margin: 5% 0 5% 12%;
}

.facebook {
  background-color: #4267b2;
  color: white;
}

.google {
  background-color: #ea4335;
  color: white;
}

