@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  form {
    width: 100%;
    padding-bottom: 20px;
    ion-select {
      --placeholder-opacity: 1;
      border: {
        style: solid;
        width: 2px;
        color: #231f20;
        radius: 8px;
      }
      --padding-top: 10px;
      --padding-end: 10px;
      --padding-bottom: 10px;
      --padding-start: 10px !important;
      margin: 15px 0;
    }

    button {
      width: 90%;
      background: #231f20;
      font: {
        size: 12px;
        family: $app-fonts;
        weight: 400;
      }
      color: #ebebeb;
    }
  }
}
