<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
                        <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
                    </ion-buttons> -->

    </ion-toolbar>

</ion-header>

<ion-content>

    <form (ngSubmit)="setForm()" #CustomForm="ngForm">
        <ion-item>
            <ion-label for="mark" position="fixed">Марка</ion-label>
            <ion-input name="mark" id="mark" required [(ngModel)]="entity.mark"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="model" position="fixed">Модель</ion-label>
            <ion-input name="model" id="model" required [(ngModel)]="entity.model"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="year" position="fixed">Год</ion-label>
            <ion-input type="number" name="year" id="year" required [(ngModel)]="entity.year"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="type" position="fixed">Тип двигателя</ion-label>
            <ion-select cancelText="Отмена" okText="Принять" #type="ngModel" required name="type"
                [interfaceOptions]="type" [(ngModel)]="entity.engine_type" interface="alert" multiple="false">
                <ion-select-option value="Бензин">Бензин</ion-select-option>
                <ion-select-option value="Дизель">Дизель</ion-select-option>
                <ion-select-option value="Газ">Газ</ion-select-option>
                <ion-select-option value="Газ/Бензин">Газ/Бензин</ion-select-option>
                <ion-select-option value="Гибрид-бензин">Гибрид-бензин</ion-select-option>
                <ion-select-option value="Гибрид-дизель">Гибрид-дизель</ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label for="volume" position="fixed">Объем двигателя</ion-label>
            <ion-input name="volume" id="volume" required [(ngModel)]="entity.engine_value"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="check">Знаю, какое масло сейчас залито</ion-label>
            <ion-checkbox name="check" id="check" slot="start" [(ngModel)]="check" color="primary"
                (ionChange)="customSelect($event)"></ion-checkbox>
        </ion-item>
        <ion-item *ngIf="checked">
            <ion-input name="custom" id="custom" required [(ngModel)]="entity.current_oil"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label for="ugar">Есть расход на угар</ion-label>
            <ion-checkbox name="ugar" id="ugar" slot="start" [(ngModel)]="entity.waste_consumption" color="primary">
            </ion-checkbox>
        </ion-item>
        <button [disabled]="CustomForm.form.invalid" class="form_button_center">Отправить запрос на подбор
            маслa</button>
    </form>

</ion-content>