<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <h2 (click)="encodedId()">ID {{user.id}}</h2>

    <div class="points" *ngIf="user.discount_percent">
        <p>скидка: <strong>{{user.discount_percent}}%</strong> </p>
    </div>

    <div *ngIf="user.discount_liter" class="points"
        style="display: flex; align-items: center; justify-content: space-between; text-align: left">
        <p style="font-size: 14px;">Количество бесплатного масла (активация промокодов друзьями): </p>
        <strong>{{user.discount_liter + 'л'}}</strong>
    </div>

    <div>
        <p>!</p>
        <p>Для начисления промокодов и увеличения скидки нажмите на ID и дайте отсканировать код продавцу.
            <br>
            Также сообщите продавцу: накапливать или использовать бeсплатное масло
        </p>
    </div>


    <!-- <ion-virtual-scroll [items]="list"> -->
    <p>Неактивированные промокоды для друзей</p>
    <ion-item lines="none" *ngFor="let item of user?.my_promo">
        <div>
            <p>{{item.count}}</p>
            <p>{{item.title}}</p>
            <ion-icon name="document" (click)="sendFile(item.title)"></ion-icon>
        </div>
        <ion-icon *ngIf="favorite" name="heart-empty"></ion-icon>
    </ion-item>
    <!-- </ion-virtual-scroll> -->

</ion-content>