@import "../../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  --padding-top: 10px;
  --padding-bottom: 10px;
  --padding-start: 10px;
  --padding-end: 10px;
  p {
    font-size: 14px;
  }
  form {
    width: auto;
    ion-item {
      position: relative;
      ion-label {
        flex: inherit;
        width: 50px;
        font: {
          size: 16px;
          family: $app-fonts;
          weight: 600;
        }
      }
      ion-input {
        padding: 5px;
        width: 100%;
        --placeholder-opacity: 1;
        border: {
          style: solid;
          width: 2px;
          color: #231f20;
          radius: 8px;
        }
        --padding-top: 10px;
        --padding-end: 10px;
        --padding-bottom: 10px;
        --padding-start: 10px !important;
        margin: 15px 0;
      }
    }
  }
}
