<ion-header>
  <ion-toolbar>

    <ion-buttons (click)="back()" slot="start">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-buttons>

    <ion-title text-center>
      <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
    </ion-title>

  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event);">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-item *ngFor="let partner of list">
    <p>{{partner.title}} <br> ({{partner.city}})</p>
    <button slot="end" (click)="selectPartner(partner.id)">Выбрать</button>
  </ion-item>

  <p style="text-align: center" *ngIf="!list.length">В вашем городе нету наших магазинов</p>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event);">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>