<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
                    <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
                </ion-buttons> -->

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-item lines="none">
        <ion-thumbnail slot="start">
            <img [src]="entity.image" onError="this.src='assets/imgs/broken.png';">
        </ion-thumbnail>
        <div>
            <p>{{entity.title}}</p>
            <!-- <p>{{entity.description}}</p> -->
            <ul>
                <li *ngFor="let li of info.allow_arr">{{li}}</li>
            </ul>
        </div>
    </ion-item>
    <p>{{info?.description}}</p>

    <div class="block-button">
        <button [hidden]="!info?.quality.length" class="form_button_center"
            (click)="openModal(info?.quality, 'Паспорт качества')">Паспорт качества</button>
        <button [hidden]="!info?.safety.length" class="form_button_center" (click)="openModal(info?.safety, 'Паспорт
        безопасности')">Паспорт
            безопасности</button>
        <button [hidden]="!info?.analysis.length" class="form_button_center" (click)="openModal(info?.analysis, 'Лабораторный
        анализ')">Лабораторный
            анализ</button>
        <button [hidden]="!info?.approval.length" class="form_button_center"
            (click)="openModal(info?.approval, 'Одобрение ОЕМ')">Одобрение ОЕМ</button>
        <div>
            <button class="form_button_outline" (click)="shop()">Где купить?</button>
            <button class="form_button_outline" (click)="service()">Где заменить?</button>
            <ion-icon *ngIf="entity?.favorite" name="heart" (click)="minusWish()"></ion-icon>
            <ion-icon *ngIf="!entity?.favorite" name="heart-empty" (click)="addWish()"></ion-icon>
        </div>
    </div>

</ion-content>