@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  ion-item {
    ion-thumbnail {
      width: 33%;
      height: auto;
      margin: 0;
    }
    div {
      text-align: left;
      p {
        padding: 0 0 0 20px;
        font: {
          family: $app-fonts;
          size: 14px;
          weight: bold;
        }
      }
      ul {
        list-style: none;
        padding: 0 0 0 20px;
        li {
          font: {
            family: $app-fonts;
            size: 12px;
            weight: 400;
          }
        }
      }
    }
  }

  p {
    padding: 10px;
    font: {
      family: $app-fonts;
      size: 12px;
      weight: 400;
    }
  }

  .block-button {
      margin-bottom: 20px;
      .form_button_center {
          margin: 10px auto;
          width: 90%;
      }
      div {
          display: flex;
          justify-content: space-around;
          align-items: center;
          .form_button_outline {
              width: 40%;
          }
          ion-icon {
              font-size: 35px;
          }
      }
  }
}
