<ion-content id="register">
    <button class="button_back" (click)="back()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Войти
    </button>
    <form [formGroup]="reg" (ngSubmit)="regForm()">
        <ion-item>
            <ion-input type="text" formControlName="username" placeholder="Имя*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" formControlName="lastname" placeholder="Фамилия*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="email" formControlName="email" placeholder="Почта*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" formControlName="mobile" placeholder="Телефон"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Пароль*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" formControlName="passwordConfirm" placeholder="Подтвердите пароль*"></ion-input>
        </ion-item>
        <ion-item>
            <p class="form-input" (click)="openModal()"> <span
                    *ngIf="!reg.value.city">Город*</span>{{reg.value.city}}</p>
            <!-- <ion-input #input type="text" formControlName="city" placeholder="Город"></ion-input> -->
            <!-- <ion-select interface="popover" cancelText="Отмена" okText="Принять" placeholder="Страна" type="text"
                formControlName="city" multiple="false">
            </ion-select> -->
        </ion-item>
        <ion-item>
            <ion-select [disabled]="true" [interfaceOptions]="customHeader" cancelText="Отмена" okText="Принять"
                placeholder="Страна*" type="text" formControlName="country_id" interface="alert" multiple="false">
                <ion-select-option [value]="1">Россия</ion-select-option>
                <ion-select-option [value]="2">Беларусь</ion-select-option>
                <ion-select-option [value]="3">Казахстан</ion-select-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item>
            <ion-select [interfaceOptions]="customAlertOptions" cancelText="Отмена" okText="Принять" formControlName="role_id"
                placeholder="Роль">
                <ion-select-option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</ion-select-option>
            </ion-select>
        </ion-item> -->
        <div class="form_button">
            <button [disabled]="!reg.valid" class="form_button_center" type="submit">Регистрация</button>
        </div>
        <div class="form_footer">
            <!-- <p>Есть аккаунт?
                <span (click)="openRegister()">Регистрация</span>
            </p> -->
            <p>
                <span (click)="forgot()">Востановить пароль</span>
            </p>
            <p>Вспомнили пароль?
                <span (click)="back()">Войти</span>
            </p>
        </div>
    </form>
</ion-content>