@import "../../../theme/variables";

.button_back {
  margin: 5% 0 5% 12%;
}

.form_button {
  margin-top: 30px;
}

.form-input {
  border: {
    style: solid;
    width: 2px;
    color: #231f20;
    radius: 8px;
  }

  width: 100%;
  height: 44px;
  padding: 10px;
  margin: 15px 0;

  span {
    color: #878586;
  }
}