@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
    &:last-child {
      div {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h2 {
          font: {
            size: 16px;
          }
          margin: 10px auto 0;
        }
        ul {
          list-style: none;
          padding: 0;
          li {
            font: {
              family: $app-fonts;
              size: 14px;
            }
          }
        }
        button {
          padding: 10px;
          margin: 0;
          width: 35%;
          height: 100%;
          font: {
            size: 12px;
          }
        }
      }
    }
  }
}

ion-content {
  // ion-virtual-scroll {
  ion-item {
    display: flex;
    justify-content: space-between;
    justify-items: center;
    ion-thumbnail {
      width: 33%;
      height: auto;
      margin: 0;
    }
    div {
      text-align: left;
      width: 100%;
      p {
        padding: 0 0 0 20px;
        font: {
          family: $app-fonts;
          size: 14px;
          weight: bold;
        }
      }
      ul {
        list-style: none;
        padding: 0 0 0 20px;
        li {
          font: {
            family: $app-fonts;
            size: 12px;
            weight: 400;
          }
        }
      }
    }
    ion-icon {
      position: absolute;
      right: 20px;
      top: calc(50% - 12px);
    }
  }
}
// }

.changeWidth {
  width: calc(100% - 45px) !important;
}
