<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
                <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
            </ion-buttons> -->

    </ion-toolbar>

    <ion-toolbar *ngIf="filter">

        <h2>Подбор масла</h2>
        
        <div>
            <ul>
                <li>{{filter.mark}}</li>
                <li>{{filter.model}}</li>
                <li>{{filter.type}}</li>
            </ul>
            <button (click)="changeParams()" class="form_button_center">Изменить данные для подбора</button>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event);">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item lines="none" *ngFor="let item of list; let in = index">
        <ion-thumbnail slot="start" (click)="openInfo(item['oil_id'], item['info']['id'])">
            <img [src]="item.image" onError="this.src='assets/imgs/broken.png';">
        </ion-thumbnail>
        <div [ngClass]="{'changeWidth' : true}" (click)="openInfo(item['oil_id'], item['info']['id'])">
            <p>{{item.oil || item.title}}</p>
            <ul>
                <li *ngFor="let li of item?.allow_arr">{{li}}</li>
            </ul>
        </div>
        <ion-icon *ngIf="!item.favorite" (click)="addWish(item['oil_id'], in)" name="heart-empty">
        </ion-icon>
        <ion-icon *ngIf="item.favorite" (click)="minusWish(item['oil_id'], in)" name="heart"></ion-icon>
    </ion-item>

    <p *ngIf="!list.length" style="text-align: center">
        Список избранных пустой
    </p>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event);">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>