@import "../../theme/variables.scss";

ion-content {
  --ion-background-color: #ebebeb !important;
  --color: #231f20;
  h1 {
    text-align: center;
    font: {
      size: 50px;
      weight: bold;
      family: $app-fonts;
    }
    color: #231f20;
    margin: 30% auto 25%;
  }
  .logo {
    width: 70%;
    margin: 30% auto 15%;
    text-align: center;
    img {
      width: 100%;
    }
  }
 


}



.button_back {
  color: #231f20;
}
 