@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;

      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {

  /* Custom Skeleton Line Height and Margin */
  .custom-skeleton ion-skeleton-text {
    line-height: 10px;
    font-size: 14px;
  }

  .custom-skeleton ion-skeleton-text:last-child {
    margin-bottom: 5px;
  }

  ion-list {
    ion-spinner {
      margin: 10px auto;
      display: block;
    }

    ion-item {
      div {
        width: 100%;
        position: relative;

        font: {
          size: 14px;
          family: $app-fonts;
        }

        p {
          &:nth-child(1) {
            font-weight: bold;
          }

          &:nth-child(2) {
            text-overflow: ellipsis;
          }

          &:nth-child(3) {
            font-size: 10px;
            position: absolute;
            top: 5px;
            right: 10px;
          }
        }
      }
    }
  }
}

.select {
  font-weight: bold;
}