<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event);">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list>
        <ion-item *ngIf="user?.role !== 'ADMIN'">
            <button style="margin: 10px auto; width: auto;" class="form_button_center"
                (click)="openDialogAdmin(1, 1)">Cвязь с
                администрацией</button>
        </ion-item>
        <!-- <div *ngIf="!view" name="crescent">
            <div class="custom-skeleton">
                <ion-item>
                    <div style="position: relative;">
                        <p>
                            <ion-skeleton-text animated="true" style="width: 30%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true" style="width: 60%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true"
                                style="width: 40px; position: absolute; top: 5px; right: 10px;">
                            </ion-skeleton-text>
                        </p>
                    </div>
                </ion-item>
                <ion-item>
                    <div style="position: relative;">
                        <p>
                            <ion-skeleton-text animated="true" style="width: 30%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true" style="width: 60%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true"
                                style="width: 40px; position: absolute; top: 5px; right: 10px;">
                            </ion-skeleton-text>
                        </p>
                    </div>
                </ion-item>
                <ion-item>
                    <div style="position: relative;">
                        <p>
                            <ion-skeleton-text animated="true" style="width: 30%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true" style="width: 60%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true"
                                style="width: 40px; position: absolute; top: 5px; right: 10px;">
                            </ion-skeleton-text>
                        </p>
                    </div>
                </ion-item>
                <ion-item>
                    <div style="position: relative;">
                        <p>
                            <ion-skeleton-text animated="true" style="width: 30%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true" style="width: 60%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true"
                                style="width: 40px; position: absolute; top: 5px; right: 10px;">
                            </ion-skeleton-text>
                        </p>
                    </div>
                </ion-item>
                <ion-item>
                    <div style="position: relative;">
                        <p>
                            <ion-skeleton-text animated="true" style="width: 30%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true" style="width: 60%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true"
                                style="width: 40px; position: absolute; top: 5px; right: 10px;">
                            </ion-skeleton-text>
                        </p>
                    </div>
                </ion-item>
                <ion-item>
                    <div style="position: relative;">
                        <p>
                            <ion-skeleton-text animated="true" style="width: 30%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true" style="width: 60%"></ion-skeleton-text>
                        </p>
                        <p>
                            <ion-skeleton-text animated="true"
                                style="width: 40px; position: absolute; top: 5px; right: 10px;">
                            </ion-skeleton-text>
                        </p>
                    </div>
                </ion-item>
            </div>
        </div> -->
        <div>
            <ion-item *ngFor="let item of list;" (click)="openDialog(item['id'], item['user_id'])">
                <div style="position: relative">
                    <p>{{item.username}}</p>
                    <p lastMessages [room_id]="item.id" #lastMessage="lastMessage"
                        [ngClass]="{select: lastMessage['unread']}">
                        {{lastMessage['lastMessage']}}
                        <strong *ngIf="lastMessage['chat_user_id'] == user['id']">Вы</strong>
                    </p>
                    <!-- <p *ngIf="item" [ngClass]="{select: item['unread']}">
                        <strong *ngIf="item.chat_user_id == user['id']">Вы</strong>
                         {{item.text}}
                    </p> -->
                    <p *ngIf="item.data">{{item.data | amLocale:'ru' | amTimeAgo}}</p>
                    <ion-badge style="position: absolute; right: 15px; top: 15px;" color="danger" unreadMessages
                        [room_id]="item.id" #unread="unread" [ngStyle]="{display: (unread.unread ? 'block' : 'none')}">
                        {{unread.unread}}
                    </ion-badge>
                </div>
            </ion-item>
        </div>
    </ion-list>

    <p *ngIf="!list.length" style="text-align: center">
        У вас нет чатов
    </p>
    <ion-spinner style="margin: 0 auto; display: block;" *ngIf="!view" name="lines-small"></ion-spinner>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event);">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>