<ion-header>
  <ion-toolbar>

    <ion-buttons (click)="back()" slot="start">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-buttons>

    <ion-title text-center>
      <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
    </ion-title>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div>
    <p><strong> Название:</strong></p>
    <p>{{partner.title}}</p>
  </div>
  <div>
    <p><strong> Телефон:</strong></p>
    <div style="display: flex; align-items: center;" (click)="call(partner.additional_phone)">
      <ion-icon style=" margin-right: 10px;" *ngIf="partner.additional_phone" name="call"></ion-icon>
      <p>{{partner.additional_phone ? partner.additional_phone : 'Телефон не указан'}}
      </p>
    </div>
  </div>
  <div>
    <p><strong> Адрес:</strong></p>
    <p>{{partner.address}}</p>
  </div>
  <div>
    <p><strong> Время работы:</strong></p>
    <p>{{partner.schedule}}</p>
  </div>
  <button class="form_button_center" (click)="createChat()">Написать</button>
  <button style="margin-top: 20px;" class="form_button_center"
    (click)="toggleFavorite()">{{partner['favorite-partner'] ? 'Удалить с избранного' : 'Добавить в избранное'}}</button>

</ion-content>