<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
                    <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
                </ion-buttons> -->

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event);">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <table class="table table-hover table-striped" *ngIf="list.length">
        <tbody>
            <tr *ngFor="let row of list; trackBy:row?.id" [ngClass]="{'checkedOn': row.checked}">
                <td>{{row.created_at | amLocal:"ru" | amDateFormat: 'YYYY-MM-DD'}}</td>
                <td style="padding: 0 5px">
                    {{row.bonus_volume ? row.oil + ' ' + row.volume + 'л.' + ' ' + '(' + row.count   +  '/'  + row.bonus_volume + 'л.' + ')' : row.oil + ' ' + row.volume + 'л.' + ' ' + '(' + row.count +  ')'}}
                <td style="text-align: left">{{row.oil}}</td>
            </tr>
        </tbody>
    </table>

    <p style="text-align: center;" *ngIf="!list.length">История покупок пустая</p>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event);">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>