<ion-header>
    <ion-toolbar>



        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
            <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
        </ion-buttons> -->

    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <ion-card *ngFor="let item of list; let i = index">
        <ion-card-header>
            <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
            <ion-card-title>{{item.title}}</ion-card-title>
        </ion-card-header>

        <ion-card-content>
            <ion-slides [pager]="item.attachments.length > 1" [options]="slideOpts" [options]="slideOpts">
                <ion-slide *ngFor="let image of item.attachments">
                    <div>
                        <img [src]="image.link" alt="">
                    </div>
                </ion-slide>
                <ion-slide>
                    <!-- <div style="width: 100%;
                    position: absolute;
                    left: 0;
                    height: 100%;
                    top: 0;" [class]="'start' + i" (click)="start(i)"></div>
                    <div [class]="'stop' + i" (click)="stop(i)"></div> -->
                    <iframe [class]="'iframe' + i" *ngIf="item.url" [src]="item.url" frameborder="0" width="100%"
                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </ion-slide>
            </ion-slides>

            {{item.description}}
        </ion-card-content>
    </ion-card>


    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>