ion-content {
    --padding-bottom: 20px;

    ion-card {
        ion-card-content {
            ion-slides {
                margin-bottom: 10px;
            }
        }
    }

    .start {
        width: 100%;
        position: absolute;
        left: 0;
        height: 100%;
        top: 0;
    }

    .stop {
        display: none;
        width: 50%;
        position: absolute;
        right: 0;
        height: 100%;
        top: 0;
    }
}