<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
                    <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
                </ion-buttons> -->

    </ion-toolbar>

    <ion-toolbar>
        <ion-title text-center>Настройка ассортимента</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <table class="table table-hover table-striped">
        <tbody>
            <tr *ngFor="let row of list; trackBy:row?.id" [ngClass]="{'checkedOn': row.in_assortment}">
                <td>
                    <ion-checkbox [checked]="row.in_assortment" (ionChange)="addAssort(row.id)"></ion-checkbox>
                </td>
                <td>{{row.oil + ' ' + row.volume + 'л.'}}</td>
            </tr>
        </tbody>
    </table>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="form_button_center" (click)="saveAssort()">Сохранить</button>
    </ion-toolbar>
</ion-footer>