<ion-tabs>

    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home">
            <ion-icon src="assets/icon/home1.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="lib">
            <ion-icon src="assets/icon/open-book.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button (click)="openOil()" tab="oil">
            <ion-icon style="padding: 0; font-size: 42px;" src="assets/icon/center_cans_avol_oil.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="map">
            <ion-icon src="assets/icon/map.svg"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profile">
            <ion-icon src="assets/icon/account.svg"></ion-icon>
            <ion-badge style="    width: fit-content;position: absolute; right: 5px; top: 5px" color="danger"
                *ngIf="count">{{count}}
            </ion-badge>
        </ion-tab-button>
    </ion-tab-bar>

</ion-tabs>