ion-tab-bar {
    --background: #231f20;
    ion-icon {
        border-radius: 50px;
        background: white;
        font-size: 30px;
        color: black;
        padding: 6px;
        margin: 0;
    }
}