<!-- <div class="auth">
    <div class="auth_block_card">
        <div class="logo">
            <img src="assets/img/login_logo.png" alt="">
        </div>
        <div class="content">
            <p>Смена пароля</p>
            <form (ngSubmit)="change()" #ConfirmForm="ngForm">

                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Пароль" [(ngModel)]="userData.password" class="form-control"
                        #password="ngModel" required>
                    <div [hidden]="password.valid || password.pristine" class="valid_form_error">
                        Пароль обязателен
                    </div>
                </div>

                <div class="form-group">
                    <input type="password" name="passwordConfirm"  id="passwordConfirm" placeholder="Подтвердите пароль" [(ngModel)]="userData.passwordConfirm" class="form-control"
                        #passwordConfirm="ngModel" required>
                </div>

                <button type="submit" [disabled]="ConfirmForm.form.invalid" id="auth" class="btn auth_block_button">
                    Сохранить &rarr;
                </button>
            </form>
            <div class="form_footer">
                <p>Есть аккаунт?
                    <span [routerLink]="['../sign-up']">Регистрация</span>
                </p>
                <p>Вспомнили пароль?
                    <span [routerLink]="['../sign-in']">Войти</span>
                </p>
            </div>
        </div>

    </div>
</div> -->

<ion-content id="change">
    <!-- <h1>logo</h1> -->
    <button class="button_back" (click)="back()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Назад
    </button>
    <div class="logo">
        <img src="assets/imgs/logo_reg.png" alt="">
    </div>
    <form [formGroup]="change" (ngSubmit)="changeForm()">
        <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Пароль"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" formControlName="passwordConfirm" placeholder="Подтвердите пароль"></ion-input>
        </ion-item>
        <div class="form_button">
            <button [disabled]="!change.valid" class="form_button_center" type="submit">Поменять</button>
            <!-- <button class="form_button_line" type="button" (click)="openRegister()">Регистрация</button> -->
        </div>
        <div class="form_footer">
            <p>Есть аккаунт?
                <span (click)="openRegister()">Регистрация</span>
            </p>
            <p>Вспомнили пароль?
                <span (click)="openLogin()">Войти</span>
            </p>
        </div>
    </form>
</ion-content>