<ion-header>
    <ion-toolbar>

        <!-- <ion-buttons (click)="back()" slot="start">
            <img src="assets/imgs/icons_back.png" alt="">
        </ion-buttons> -->

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
            <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
        </ion-buttons> -->

    </ion-toolbar>

</ion-header>

<ion-content>

    <form [formGroup]="oilSelect" (ngSubmit)="openOilList()">

        <ion-list lines="none">
            <ion-list-header>Подбор масла</ion-list-header>
            <ion-item>
                <ion-label>Марка автомобиля</ion-label>
                <ion-select headerText="Марка" cancelText="Отмена" okText="Принять" name="mark"
                            [interfaceOptions]="mark" formControlName="mark_id" interface="alert"
                            (ionChange)="changeMark()" multiple="false" placeholder="Марка автомобиля">
                    <ion-select-option *ngFor="let item of marks" value="{{item.id}}">
                        {{item.title}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item [ngStyle]="{'display': disableFormInput.condition1 ? 'none' : 'block'}">
                <ion-label>Тип двигателя</ion-label>
                <ion-select [disabled]="!oilSelect.value.mark_id" cancelText="Отмена" okText="Принять" name="model"
                            [interfaceOptions]="engine" formControlName="condition_id1" interface="alert"
                            (ionChange)="changeCondition1()" multiple="false" placeholder="Условие 1">
                    <ion-select-option *ngFor="let item of condition1" value="{{item.id}}">
                        {{item.title}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item [ngStyle]="{'display': disableFormInput.condition2 ? 'none' : 'block'}">
                <ion-label>Год</ion-label>
                <ion-select [disabled]="!oilSelect.value.condition_id1" cancelText="Отмена" okText="Принять"
                            name="type"
                            [interfaceOptions]="year" formControlName="condition_id2" interface="alert" multiple="false"
                            (ionChange)="changeCondition2()" placeholder="Условие 2">
                    <ion-select-option *ngFor="let item of condition2" value="{{item.id}}">
                        {{item.title}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item [ngStyle]="{'display': disableFormInput.condition3 ? 'none' : 'block'}">
                <ion-label>Фильтр</ion-label>
                <ion-select [disabled]="!oilSelect.value.condition_id2" cancelText="Отмена" okText="Принять" name="type"
                            [interfaceOptions]="filter" formControlName="condition_id3" interface="alert" multiple="false"
                            (ionChange)="changeCondition3()" placeholder="Условие 3">
                    <ion-select-option *ngFor="let item of condition3" value="{{item.id}}">
                        {{item.title}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item [ngStyle]="{'display': disableFormInput.condition4 ? 'none' : 'block'}">
                <ion-label>Расход масла</ion-label>
                <ion-select [disabled]="!oilSelect.value.condition_id3" cancelText="Отмена" okText="Принять" name="type"
                            [interfaceOptions]="oilConsumption" formControlName="condition_id4" interface="alert"
                            (ionChange)="changeCondition4()" multiple="false" placeholder="Условие 4">
                    <ion-select-option *ngFor="let item of condition4" value="{{item.id}}">
                        {{item.title}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
        </ion-list>
        <button [disabled]="disableSubmitButton" type="submit" class="form_button_center">Подобрать</button>

        <div class="liner"></div>

        <button type="button" class="form_button_center" (click)="openCustom()">Другой вариант</button>

    </form>

    <div class="content">
        <p>Смазочные материалы AVOL STREICHERT</p>
        <p>моторные масла</p>
        <div>
            <ion-icon (click)="openOil(1)" class="form_button_center" src="assets/icon/sedan-car-model.svg">
            </ion-icon>
            <ion-icon (click)="openOil(2)" class="form_button_center fura" src="assets/icon/test.car.svg"></ion-icon>
            <ion-icon (click)="openOil(3)" class="form_button_center" src="assets/icon/motorcycle.svg"></ion-icon>
        </div>
        <p>трансмиссионные масла</p>
        <div>
            <ion-icon (click)="openOil(4)" class="form_button_center" src="assets/icon/trans1.svg"></ion-icon>
            <ion-icon (click)="openOil(5)" class="form_button_center" src="assets/icon/auto.svg"></ion-icon>
        </div>
        <div>
            <div>
                <p>антифриз</p>
                <ion-icon (click)="openOil(6)" class="form_button_center" src="assets/icon/antifreeze.svg"></ion-icon>
            </div>
            <div>
                <p>смазки</p>
                <ion-icon (click)="openOil(7)" class="form_button_center" src="assets/icon/smazki.svg"></ion-icon>
            </div>
        </div>
        <div>
            <div>
                <p>аграрно-строительная <br> программа</p>
                <ion-icon (click)="openOil(8)" class="form_button_center" src="assets/icon/tractor.svg"></ion-icon>
            </div>
            <div>
                <p>индустриальные<br>смазочные материалы</p>
                <ion-icon (click)="openOil(9)" class="form_button_center" src="assets/icon/factory.svg"></ion-icon>
            </div>
        </div>
    </div>

</ion-content>