ion-content {
  form {
    width: 100%;
    background: #231f20;
    padding-bottom: 20px;
    ion-list {
      background: #231f20;
      margin-bottom: 0;
      ion-list-header {
        color: #ebebeb;
        text-transform: inherit;
        font-size: 18px;
        padding-left: 8px;
      }
      ion-item {
        --background: #231f20;
        --padding-start: 8px;
        --padding-end: 8px;
        ion-select {
          max-width: 100%;
          width: 100%;
          padding: 5px 10px;
          background: #ebebeb;
          position: relative;
        }
      }
    }
    .liner {
      width: 90%;
      height: 1px;
      background: #ebebeb;
      margin: 10px;
    }
  }
  .content {
    text-align: center;
    padding-bottom: 20px;
    p {
      font: {
        size: 12px;
        family: "Open Sans", sans-serif;
        weight: 400;
      }
    }
    div {
      display: flex;
      justify-content: space-around;
      align-items: center;
      div {
        display: block;
      }
      ion-icon {
        height: 55px;
        padding: 5px;
        width: 80px;
      }
      .fura {
        .ion-inner svg {
          margin-left: -4px;
          margin-top: -14px;
          width: 110%;
        }
      }
    }
  }
}
