div {
    padding: 10px;

    ion-select {
        max-width: 100%;
        width: 100%;
        padding: 5px 10px;
        background: #ebebeb;
        position: relative;
    }

    ion-input,
    ion-select {
        --placeholder-opacity: 1;

        border: {
            style: solid;
            width: 2px;
            color: #231f20;
            radius: 8px;
        }

        --padding-top: 10px;
        --padding-end: 10px;
        --padding-bottom: 10px;
        --padding-start: 10px !important;
        margin: 15px 0;
        //input {
        //
        //}
    }

}