<ion-header>
  <ion-toolbar>

    <ion-buttons (click)="modalController.dismiss()" slot="start">
      <ion-icon name="arrow-round-back"></ion-icon>
    </ion-buttons>

    <ion-title text-center>
      Бонусных литров: {{discount_liter}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>

    <ion-select (ionChange)="select($event)" placeholder="Выберите масло">
      <ion-select-option *ngFor="let canister of canisters; let i = index" [value]="{id: canister.canister, index: i}">
        {{canister.title}}
      </ion-select-option>
    </ion-select>

    <ion-input [max]="discount_liter" (ionChange)="maxNumber($event)" [inputmode]="numeric" [step]="1"
      placeholder="Бонусные литры" [(ngModel)]="bonus_volume" [value]="bonus_volume" type="number">
    </ion-input>

    <div style="display: flex; justify-content: space-between">

      <button [disabled]="(!bonus_volume && !canIndex) || block" (click)="send()" class="form_button_outline">Отправить
      </button>

      <button (click)="modalController.dismiss()" class="form_button_outline">Не использовать
      </button>

    </div>

  </div>

</ion-content>