@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      form {
        ion-item {
          --background: #231f20;
          ion-label {
            --color: #ebebeb;
          }
          ion-input {
            --background: #ebebeb;
          }
        }
      }
      ion-icon {
        padding: 10px;
        border: {
          width: 1px;
          style: solid;
          color: #ebebeb;
          radius: 50px;
        }
        font: {
          size: 35px;
        }
        margin: 15px auto;
        display: block;
      }
    }
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  table {
    width: 100%;
    font: {
      size: 14px;
      family: $app-fonts;
    }
    text-align: center;
    tbody {
      tr {
        td {
          text-align: left;
          white-space: nowrap;
          border-bottom: {
            width: 1px;
            style: solid;
            color: #231f20;
          }
          padding: 5px 0;
          ion-icon {
            font-size: 25px;
          }
        }
      }
    }
  }
}
