<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

    </ion-toolbar>

    <ion-toolbar>
        <div class="header">
            <ion-icon name="camera" (click)="scanCode()"></ion-icon>
            <form>
                <ion-item>
                    <ion-label for="userId" position="fixed">ID покупателя</ion-label>
                    <ion-input type="number" name="userId" [(ngModel)]="userSell.user_id"></ion-input>
                </ion-item>
            </form>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event);">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <table class="table table-hover table-striped">
        <tbody>
            <tr *ngFor="let row of list; let in = index" [ngClass]="{'checkedOn': row.checked}">
                <!-- <td>{{row.date | amLocal:"ru" | amDateFormat: 'YYYY-MM-DD'}}</td> -->
                <td (click)="addItem(row.id, row.count, in, row.oil, row.volume);">
                    {{row.oil + ' ' + row.volume + 'л.'}}</td>
                <td style="text-align: center; padding: 0 10px;">{{row.count ? row.count : 0}}</td>
                <td>
                    <ion-icon name="remove-circle-outline" (click)="minusItem(row.id, row.count, in)"></ion-icon>
                </td>
            </tr>
        </tbody>
    </table>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event);">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<ion-footer>
    <ion-toolbar>
        <button class="form_button_center" [disabled]="!this.userSell.canisters.length ||  block"
            (click)="sale()">Продать</button>
    </ion-toolbar>
</ion-footer>