ion-header {
    ion-toolbar {
        ion-buttons {
            margin: 0;
            ion-icon {
                font-size: 45px;
                // background: #ebebeb;
                // border-radius: 32px;
                color: #ebebeb;
            }
        }
    }
}

ion-content {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-start: 10px;
    --padding-end: 10px;
    img {
        width: 100%;
    }
}