<ion-header>
    <ion-toolbar>
        <ion-buttons (click)="dismiss()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>
        <ion-title text-center>
            {{title}}
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide *ngFor="let item of images">
            <img [src]="item.path" alt="">
        </ion-slide>
    </ion-slides>

</ion-content>