@import "../../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  text-align: center;
  h2 {
    font: {
      size: 18px;
      family: $app-fonts;
      weight: bold;
    }
  }
  .albom_image {
    height: 250px;
    // display: flex;
    // justify-content: space-around;
    // align-items: center;
    // flex-wrap: wrap;
    // &_item {
      width: 100%;
      img {
        height: 100%;
      }
    // }
  }
  .sub_albom_image {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      margin: 0;
    }
    div {
      text-align: left;
      ion-icon {
        font-size: 50px;
        margin-right: 15px;
        margin-top: 10px;
      }
    }
  }
  .description {
    text-align: left;
    padding: 10px;
  }
}
