<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>

    <h2>Накоплено баллов {{user.balance ? user.balance : 0}}</h2>

    <div class="albom_image">
        <!-- <div class="albom_image_item" *ngFor="let item of entity.images"> -->
        <img [src]="entity.image" onError="this.src='assets/imgs/broken.png';">
        <!-- </div> -->
    </div>

    <div class="sub_albom_image">
        <div>
            <p>{{entity.price}} баллов</p>
            <p>{{entity.title}}</p>
        </div>
        <div>
            <p *ngIf="user.balance<entity.price">Недостаточно баллов для покупки</p>
            <ion-icon *ngIf="user.balance>=entity.price" (click)="buy(entity.id)" name="cart"></ion-icon>
        </div>
    </div>

    <div class="description">
        {{entity.description}}
    </div>

</ion-content>