<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
                <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
            </ion-buttons> -->

    </ion-toolbar>

    <ion-toolbar *ngIf="filter">

        <h2>Подбор масла</h2>
        <div>
            <ul>
                <li>{{filter.mark}}</li>
                <li>{{filter.condition1}}</li>
                <li>{{filter.condition2}}</li>
                <li>{{filter.condition3}}</li>
                <li>{{filter.condition4}}</li>
            </ul>
            <button (click)="changeParams()" class="form_button_center">Изменить данные для подбора</button>
        </div>
    </ion-toolbar>

</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-item lines="none" *ngFor="let item of list; let in = index">
        <ion-thumbnail slot="start" (click)="openInfo(item['oil_id'], item['info'])">
            <img [src]="item.image" onError="this.src='assets/imgs/broken.png';">
        </ion-thumbnail>
        <div [ngClass]="{'changeWidth' : favorite}" (click)="openInfo(item['oil_id'], item['info'])">
            <p>{{item.oil || item.title}}</p>
            <ul>
                <li *ngFor="let li of item?.allow_arr">{{li}}</li>
            </ul>
        </div>
        <ion-icon *ngIf="favorite &&  !item.favorite" (click)="addWish(item['oil_id'], in)" name="heart-empty"></ion-icon>
        <ion-icon *ngIf="favorite &&  item.favorite" (click)="minusWish(item['oil_id'], in)" name="heart"></ion-icon>
    </ion-item>

    <p *ngIf="!list.length && filter" style="text-align: center">
        {{favorite ? 'Список избранных пустой' : 'Масла по этому мотору нет'}}
    </p>
    <p *ngIf="!list.length && !filter" style="text-align: center">
        {{favorite ? 'Список избранных пустой' : 'Масла по этой категории нет'}}
    </p>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event);">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>