@import "../../../../theme/variables.scss";

.button_back {
  margin: 5% 0 5% 12%;
}

.form_button {
  margin-top: 30px;
}

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;

      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  --padding-bottom: 20px !important;
  --ion-background-color: #ebebeb !important;
  --color: #231f20;

  h1 {
    text-align: center;

    font: {
      size: 50px;
      weight: bold;
      family: $app-fonts;
    }

    color: #231f20;
    margin: 30% auto 25%;
  }

  .logo {
    width: 70%;
    margin: 30% auto 15%;
    text-align: center;

    img {
      width: 100%;
    }
  }
}

.form-input {
  border: {
    style: solid;
    width: 2px;
    color: #231f20;
    radius: 8px;
  }

  width: 100%;
  height: 44px;
  padding: 10px;
  margin: 15px 0;

  span {
    color: #878586;
  }
}

.button_back {
  color: #231f20;
}