<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

        <ion-buttons slot="end" (click)="deleteUser()">
            <ion-icon name="trash"></ion-icon>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content id="register">
    <form [formGroup]="reg" (ngSubmit)="regForm()">
        <ion-item>
            <ion-input type="text" formControlName="username" placeholder="Имя*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" formControlName="lastname" placeholder="Фамилия*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="email" formControlName="email" placeholder="Почта*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="text" formControlName="mobile" placeholder="Телефон"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" formControlName="password" placeholder="Пароль*"></ion-input>
        </ion-item>
        <ion-item>
            <ion-input type="password" formControlName="passwordConfirm" placeholder="Подтвердите пароль*"></ion-input>
        </ion-item>
        <ion-item>
            <p class="form-input" (click)="openModal()"> <span *ngIf="!reg.value.city">Город*</span>{{reg.value.city}}
            </p>
            <!-- <ion-select interface="popover" cancelText="Отмена" okText="Принять" placeholder="Страна*" type="text"
                formControlName="city" multiple="false">
            </ion-select> -->
        </ion-item>
        <ion-item>
            <ion-select [disabled]="true" [interfaceOptions]="customHeader" cancelText="Отмена" okText="Принять"
                placeholder="Страна*" type="text" formControlName="country_id" interface="alert" multiple="false">
                <ion-select-option [value]="1">Россия</ion-select-option>
                <ion-select-option [value]="2">Беларусь</ion-select-option>
                <ion-select-option [value]="3">Казахстан</ion-select-option>
            </ion-select>
        </ion-item>
        <!-- <ion-item>
            <ion-select [interfaceOptions]="customAlertOptions" cancelText="Отмена" okText="Принять" formControlName="role_id"
                placeholder="Роль">
                <ion-select-option *ngFor="let role of roles" value="{{role.id}}">{{role.name}}</ion-select-option>
            </ion-select>
        </ion-item> -->
        <div class="form_button">
            <button [disabled]="!reg.valid" class="form_button_center" type="submit">Обновить</button>
        </div>
    </form>
</ion-content>