<ion-header>
    <ion-toolbar>

        <ion-buttons *ngIf="oil_id" (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

        <!-- <ion-buttons slot="end">
            <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
        </ion-buttons> -->

    </ion-toolbar>

    <ion-toolbar>
        <ion-segment (ionChange)="segmentChanged($event)">
            <ion-segment-button value="buy">
                <ion-label>Где купить?</ion-label>
            </ion-segment-button>
            <ion-segment-button value="change">
                <ion-label>Где заменить?</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>

</ion-header>

<ion-content>
    <div *ngIf="!l || !g || l === 'null' || q === 'null'">
        Для отображения карты укажите город и страну в своем профиле.
    </div>
    <!-- <p>Контент недоступен, приносим извинения за неудобства</p> -->
    <!-- <div class="map" id="map_canvas"></div> -->
    <div id="map" #map> </div>

</ion-content>