<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>

    </ion-toolbar>

</ion-header>

<ion-content #content>

    <div class="messages" *ngFor="let message of items | async" [ngStyle]="{'background': message['color']}"
        [ngClass]="{right: message.chat_user_id == user.id}">
        <p>{{message.text}}</p>
        <p>{{message.date | amLocale:'ru' | amTimeAgo}}</p>
    </div>

</ion-content>

<ion-footer>

    <ion-toolbar>

        <textarea appTextareaDialog placeholder="Ваш текст..." class="write_message_dialog" name="message" id="message"
            rows="1" [(ngModel)]="msg"></textarea>

        <ion-buttons slot="end">
            <ion-button (click)="sendMsg(msg)">
                <ion-icon style="color: #4d6ff8;" slot="icon-only" name="send"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

    <!-- <ion-searchbar placeholder="Search Favorites"></ion-searchbar> -->

</ion-footer>