@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  //--padding-bottom: 100px;
  // bottom: 100px;
  //min-width: 100%;
  //min-height: calc(84vh - 50px);

  .messages {
    width: 70%;
    margin: 15px;
    padding: 10px 10px 15px 10px;
    position: relative;
    border: {
      radius: 5px;
      style: solid;
      width: 1px;
      color: #dedede;
    }
    p {
      margin: 0;
      &:first-child {
        font: {
          size: 14px;
          weight: 400;
          family: $app-fonts;
        }
      }
      &:last-child {
        position: absolute;
        bottom: 2px;
        right: 4px;
        font: {
          size: 9px;
          weight: 400;
          family: $app-fonts;
        }
      }
    }
  }
  .right {
    margin: 15px 15px 15px auto;
    background: #6794ff;
  }
}

ion-footer {
  ion-toolbar {
    --background: white;
    height: auto !important;
    textarea {
      width: 100%;
      min-height: 38px;
      resize: unset;
      overflow: hidden;
      border: {
        radius: 15px;
        width: 1px;
        color: #dedede;
        style: solid;
      }
      // border-radius: 15px;
      color: #000;
      &::placeholder {
        padding: 5px 0 5px 10px;
      }
      &:focus {
        outline: none;
      }
    }
  }
}
