<!-- <div class="auth">
    <div class="auth_block_card">
        <div class="logo">
            <img src="assets/img/login_logo.png" alt="">
        </div>
        <div class="content">
            <p>Введите свою почту</p>
            <form (ngSubmit)="forgot()" #ForgotForm="ngForm">

                <div class="form-group">
                    <input type="email" name="email" id="email" placeholder="Ваша почта" [(ngModel)]="userData.email"
                        class="form-control" #email="ngModel" required>
                    <div [hidden]="email.valid || email.pristine" class="valid_form_error">
                        Почта обязательна
                    </div>
                </div>

                <button type="submit" [disabled]="ForgotForm.form.invalid" id="auth" class="btn auth_block_button">
                    Далее &rarr;
                </button>
            </form>
            <div class="form_footer">
                <p>Есть аккаунт?
                    <span [routerLink]="['../sign-up']">Регистрация</span>
                </p>
                <p>Вспомнили пароль?
                    <span [routerLink]="['../sign-in']">Войти</span>
                </p>
            </div>
        </div>

    </div>
</div> -->

<ion-content id="forgot-password">
    <!-- <h1>logo</h1> -->
    <button class="button_back" (click)="back()">
        <ion-icon name="md-arrow-back"></ion-icon>
        Назад
    </button>
    <div class="logo">
        <img src="assets/imgs/logo_reg.png" alt="">
    </div>
    <form [formGroup]="forgot_password" (ngSubmit)="forgotPasswordForm()">
        <ion-item>
            <ion-input type="email" formControlName="email" placeholder="Почта"></ion-input>
        </ion-item>
        <div class="form_button">
            <button [disabled]="!forgot_password.valid" class="form_button_center" type="submit">Далее</button>
            <!-- <button class="form_button_line" type="button" (click)="openRegister()">Регистрация</button> -->
        </div>
        <div class="form_footer">
            <p>Есть аккаунт?
                <span (click)="openRegister()">Регистрация</span>
            </p>
            <p>Вспомнили пароль?
                <span (click)="openLogin()">Войти</span>
            </p>
        </div>
    </form>
</ion-content>