// http://ionicframework.com/docs/theming/
@import "~@ionic/angular/css/core.css";
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";

@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

:root {
  ion-toolbar {
    --background: #231f20;
    --color: #fff;

    ion-title {
      position: absolute;
      padding: 0;
      top: 5px;
      width: 175px;
      height: 45px;
      left: calc(50% - 78px);
    }
  }

  // /* Set the background of the entire app */
  // --ion-background-color: #ff3700;

  // /* Set the font family of the entire app */
  // --ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;
}

.modalPopup {
  .modal-wrapper {
    width: 80%;
    height: 240px;
  }
}


.normalToast {
  .toast-message {
    white-space: unset !important;
  }
}

.form_button_outline {
  height: 45px;
  width: 45%;

  // box-shadow: 0 0 42.48px 16.52px rgba(2, 55, 205, 0.28);
  background: {
    color: #fff;
  }

  border: {
    radius: 8px;
    style: solid;
    width: 2px;
    color: #231f20;
  }

  font: {
    size: 14px;
    family: $app-fonts;
  }

  color: #231f20;
}

button {
  &:focus {
    outline: none;
  }
}

.form_button_line {
  height: 45px;
  width: 45%;
  float: right;

  border: {
    radius: 8px;
    style: solid;
    width: 2px;
    color: #231f20;
  }

  font: {
    size: 14px;
    family: $app-fonts;
  }

  color: #231f20;
  background: #fff;
}

.button_back {
  margin: 15% 0 15% 12%;
  width: auto;
  display: flex;

  border: {
    radius: 40px;
    style: none;
  }

  font: {
    size: 18px;
    family: $app-fonts;
  }

  color: #ebebeb;
  background: transparent;
}

ion-header {
  ion-toolbar {
    --min-height: 48px;

    ion-title {
      font: {
        size: 16px !important;
        family: $app-fonts !important;
        weight: 300 !important;
      }

      color: #ebebeb !important;
    }

    ion-buttons {
      height: 22px;
      margin: 0 10px;

      img {
        height: 22px;
      }
    }
  }
}

ion-toolbar {
  --background: #231f20;
  --color: var(--ion-toolbar-text-color, var(--ion-text-color, #ebebeb));

  .toolbar-background {
    background: var(--background, #231f20);
  }
}

ion-content {
  background-color: #ebebeb !important;
  --ion-background-color: #ebebeb !important;
}

form {
  margin: 0 auto;
  width: 75%;

  ion-item {
    font-family: var(--ion-font-family, $app-fonts);
    --inner-border-width: 0px 0px 0px 0px;
    --color: var(--ion-item-text-color, var(--ion-text-color, #231f20));
    --background-activated: var(--ion-item-background-color-active, #transparent);
    --border-color: transparent;
    --highlight-height: 0;
    --highlight-color-focused: var(--ion-color-primary, #transparent);
    --highlight-color-valid: var(--ion-color-success, #transparent);
    --highlight-color-invalid: var(--ion-color-danger, #transparent);
    --padding-end: 0px;
    --padding-start: 0px;
    --inner-padding-end: 0px;
    font-size: 17px;

    ion-input,
    ion-select {
      --placeholder-opacity: 1;

      border: {
        style: solid;
        width: 2px;
        color: #231f20;
        radius: 8px;
      }

      --padding-top: 10px;
      --padding-end: 10px;
      --padding-bottom: 10px;
      --padding-start: 10px !important;
      margin: 15px 0;
      //input {
      //
      //}
    }

    ion-select {
      max-width: 100%;
      width: 100%;
      --placeholder-color: #231f20;
      --color: #231f20;
    }
  }

  .form_button {
    // margin-top: 40px;
  }

  .form_footer {
    text-align: center;
    padding: 10px 10px 0;

    p {
      margin: 10px;

      font: {
        size: 12px;
        weight: 400;
        family: "Open Sans", sans-serif;
      }

      color: #231f20;

      span {
        cursor: pointer;
        color: rgb(9, 41, 91);

        &:focus {
          outline: none;
        }
      }
    }
  }
}

.form_button_center {
  height: 45px;
  width: 75%;
  margin: 0 auto;
  display: block;

  //   box-shadow: 0 0 42.48px 16.52px rgba(2, 55, 205, 0.28);
  background: {
    color: #fff;
  }

  border: {
    width: 2px;
    radius: 8px;
    style: solid;
    color: #231f20;
  }

  font: {
    size: 18px;
    family: $app-fonts;
  }

  color: #231f20;
}

ion-refresher {
  position: static;
}

// .zoom {
//   overflow: auto;
//   width: 100%;
//   img {
//     width: 200%;
//     height: 200%;
//     max-width: none;
//   }
// }

.valid_form_error {
  color: red;
  position: absolute;

  font: {
    size: 12px;
    font-family: "Ubuntu", sans-serif;
    weight: 400;
  }

  top: 60px;
  left: 58px;
}

.tab-selected {
  ion-icon {
    background: #0ec378 !important;
  }
}