<ion-header>
    <ion-toolbar>

        <ion-buttons (click)="back()" slot="start">
            <ion-icon name="arrow-round-back"></ion-icon>
        </ion-buttons>

        <ion-title text-center>
            <ion-icon style="width: 100%; font-size: 30px;" src="assets/icon/logo.svg"></ion-icon>
        </ion-title>
        <!-- <ion-buttons slot="end">
                    <img src="assets/imgs/icons8_Shopping_Bag_100px.png" alt="">
                </ion-buttons> -->

    </ion-toolbar>

    <ion-toolbar>
        <div class="header">
            <ion-icon name="add-circle" (click)="createSale()"></ion-icon>
        </div>
    </ion-toolbar>
</ion-header>

<ion-content>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <table class="table table-hover table-striped">
        <tbody>
            <tr *ngFor="let row of list; trackBy:row?.id" [ngClass]="{'checkedOn': row.checked}">
                <td>{{row.date | amLocal:"ru" | amDateFormat: 'YYYY-MM-DD'}}</td>
                <td>{{row.bonus_volume ? row.oil + ' ' + row.volume + 'л.' + ' ' + '(' + row.count   +  '/'  + row.bonus_volume + 'л.' + ')' : row.oil + ' ' + row.volume + 'л.' + ' ' + '(' + row.count +  ')'}}
                </td>
                <td>{{row.user_id}}</td>
            </tr>
        </tbody>
    </table>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>