@import "../../../../theme/variables.scss";

ion-header {
  ion-toolbar {
    .header {
      ion-icon {
        font: {
          size: 35px;
        }
        margin: 15px auto;
        display: block;
      }
    }
    ion-buttons {
      margin: 0;
      ion-icon {
        font-size: 45px;
        // background: #ebebeb;
        // border-radius: 32px;
        color: #ebebeb;
      }
    }
  }
}

ion-content {
  --padding-start: 10px;
  --padding-end: 10px;
  table {
    width: 100%;
    font: {
      size: 12px;
      family: $app-fonts;
    }
    text-align: center;
    tbody {
      tr {
        td {
          text-align: left;
          white-space: nowrap;
          border-bottom: {
            width: 1px;
            style: solid;
            color: #231f20;
          }
          padding: 5px 0;
        }
      }
    }
  }
}
